PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/smart-id
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRES_IN=1d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=bharathtadi07@gmail.com
SMTP_PASS=hxbfxrlotsbaaqfa
MAIL_FROM=Smart ID <bharathtadi07@gmail.com>
